body {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

h1 {
  font-weight: 100;
}

.inquiryContainer h1 {
  
  padding-top: 30px;
  font-weight: 150;
  text-align: center; 
  
}


.inquiryContainer h2 {
  padding-top: 15px;
  font-weight: 100;
  text-align: center;
}

.inquiryContainer textarea{
  
  margin-left: 23%;
  width: 600px;
  height: 200px;
}

.inquiryContainer p{
  margin-left: 253px;
  text-align: left;
}
.inquiryContainer button{
  margin-left: 720px;
  
}

.setupContainer {
  max-width: 600px;
  margin-top: 25px;
  padding: 60px;
}

.setupContainer form {
  max-width: 350px;
  margin: 20px auto;
}

.setupContainer h1 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.setupContainer input[name="password"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.setupContainer input[name="confirmPassword"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.setupContainer button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.setupContainer #setupError {
  color: red;
}

.setupContainer #setupSuccess {
  text-align: center;
  margin-top: 60px;
}

.adminsContainer {
  max-width: 750px;
  margin-top: 30px;
  padding: 0 30px;
}

.adminsContainer h1 {
  font-weight: 100;
  margin-left: 0;
  display: block;
}

.adminsContainer .spinner-border {
  margin-top: 100px;
  margin: 0 auto;
  margin-top: 120px;
  left: 50%;
  width: 60px;
  height: 60px;
  display: block;
}

.adminsContainer input {
  margin-top: 10px;
  max-width: 300px;
  min-width: 200px;
  margin-left: 0;
  display: block;
}

.adminsContainer button {
  float: right;
  margin-top: 10px;
}

.adminsContainer table {
  width: 100%;
  margin-top: 30px;
}

.adminsContainer th {
  width: 30%;
}

.adminsContainer th:first-child {
  width: 10%;
}

.adminsContainer .adminsProfile {
  max-width: 100%;
  max-height: 100%;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
}

.adminsProfile {
  border-radius: 100%;
}

.customersContainer th {
  width: 30%;
}

.customersContainer th:first-child {
  width: 30%;
}

.createAdminContainer {
  max-width: 800px;
  margin-top: 30px;
}

.createAdminContainer h1 {
  margin-bottom: 60px;
  text-align: center;
}

.createAdminContainer .col {
  padding: 0 20px;
  margin-bottom: 10px;
}

.createAdminContainer input {
  margin-bottom: 3px;
}

.createAdminContainer label[for="userName"] {
  margin-top: 40px;
}

.createAdminContainer input[name="superAdmin"] {
  margin: 42px 0 0 115px;
  transform: scale(1.5);
}

.createAdminContainer label[for="superAdmin"] {
  margin-top: 36px;
  margin-left: 15px;
}

.babysitterFormContainer input[name="disabled"] {
  margin: 42px 0 0 130px;
  transform: scale(1.5);
}

.babysitterFormContainer label[for="disabled"] {
  margin-top: 36px;
  margin-left: 15px;
}

.babysitterFormContainer input[name="license"] {
  margin: 42px 0 0 130px;
  transform: scale(1.5);
}

.babysitterFormContainer label[for="license"] {
  margin-top: 36px;
  margin-left: 0px;
}

.babysitterFormContainer input[name="licenseRequired"] {
  margin: 42px 0 0 120px;
  transform: scale(1.5);
}

.babysitterFormContainer label[for="licenseRequired"] {
  margin-top: 36px;
  margin-left: 0px;
}

.babysitterFormContainer input[name="transportRequired"] {
  margin: 42px 0 0 130px;
  transform: scale(1.5);
}

.babysitterFormContainer label[for="transportRequired"] {
  margin-top: 36px;
  margin-left: 0px;
}

.createAdminContainer button {
  margin-top: 50px;
  float: right;
}

.loginContainer {
  max-width: 600px;
  margin-top: 25px;
  padding: 60px;
}

.loginContainer .loginForm {
  max-width: 350px;
  margin: 20px auto;
  padding: 10px;
}

.loginContainer form {
  margin-top: 20px;
}

.loginContainer input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.loginContainer input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.loginContainer button {
  margin-top: 20px;
}

.loginContainer .alert-danger {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  margin-top: 15px;
  animation-name: loginAlertAnim;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes loginAlertAnim {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.dropdown-toggle {
  margin-left: 0;
  padding-left: 0;
  margin-right: 10px;
}

#adminProfileDropdown {
  position: absolute;
  right: 20px;
}

.navbar-brand {
  margin-left: 10px;
}

nav {
  box-shadow: 0px 1px 2px #ccc;
  /* background-color: #B0B0B0 ; */
}

.navProfile, .navProfile:hover, .navProfile:active {
  text-decoration: none;
  color: #777;
}

.navProfile i {
  margin-right: 5px;
}

.formContainer {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #258ea6; */
  padding: 60px 0px;
  /* background-color: #B0B0B0 ; */
  background-color: #F8F8F8;
}

.formContainer h1 {
  padding: 0;
  margin: 0;
  font-size: 45px;
  text-align: center;
}

.formContainer form {
  min-width: 60%;
}

.formContainer .card {
  box-shadow: 0 0 30px #d6d6d6;
}

.formContainer form .card-body {
  width: 100%;
  padding: 20px 50px;
}

.formContainer form .card-header {
  border-bottom: none;
  background-color: white;
  padding-top: 30px;
}

.form-control, ::placeholder {
  color: #6C757D;
}

form.child-form {
  padding: 0px;
  box-shadow: 0 0 0;
}

h1, h2, h3, h4, h5, label, p, ::placeholder, .form-control {
  font-weight: 100;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.customer-header {
  padding-bottom: 20px;
}

.babysitterFormContainer {
  max-width: 800px;
  margin-top: 30px;
}

.babysitterFormContainer h1 {
  padding: 0;
  margin: 0;
  font-size: 45px;
}

.babysitterFormContainer form {
  padding-top: 30px;
}

.babysitterFormContainer input {
  margin-bottom: 5px;
}

.babysitterFormContainer .row {
  margin-bottom: 30px;
}

.babysitterFormContainer .col {
  padding: 0 20px;
}

.formError {
  font-size: 12px;
  color: red;
  display: block;
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, ::placeholder {
  font-weight: 200;
}

label {
  font-weight: 400;
}

.addBtn {
  margin-bottom: 10px;
  color: white;
  background-color: #38a5eb;
}

.addBtn:hover {
  box-shadow: 0 0 8px #38a5eb;
  color: white;
}

.submit-btn {
  background-color: #0f4472;
  color: white;
  float: right;
}

.submit-btn:hover {
  box-shadow: 0 0 8px #0f4472;
  color: white;
}

.removeBtn {
  float: right;
}

.alert {
  font-size: 75%;
  padding: .65rem .8rem;
  margin-top: .5rem;
}

.header-customerform {
  /* padding-top: 2%; */
  padding-bottom: 2%;
}

.passwordResetContainer {
  max-width: 600px;
  margin-top: 150px;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalContainer {
  position: fixed;
  background: white;
  min-width: 40%;
  max-height: 90%;
  min-height: 50%;
  max-width: 90%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.modalContent {
  min-width: 100%;
  height: calc(70vh);
  overflow-x: hidden;
  overflow-y: auto;
}

.modalContainer div h2 {
  float: left;
}

figure {
  clear: both;
  width: 160px;
  text-align: left;
}

.modalPicture {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.adminsProfile {
  width: 46px;
  height: 46px;
}

.adminsContainer .table tr:hover td {
  cursor: pointer;
  background: lightgray;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file+label {
  display: inline-block;
  cursor: pointer;
}

.modalContainer div .btn-danger {
  float: right;
  width: 10%;
  height: 5%;
  margin-left: 2%;
}

#uploadImage {
  float: left;
}

#modifyButton {
  float: right;
  width: 30%;
  height: 5%;
}

.adminFormContainer {
  max-width: 800px;
  margin-top: 30px;
}

.adminFormContainer h1 {
  text-align: center;
}

.adminFormContainer form {
  padding-top: 30px;
}

.adminFormContainer input {
  margin-bottom: 10px;
}

.adminFormContainer .row {
  margin-bottom: 30px;
}

.adminFormContainer .col {
  padding: 0 20px;
}

.adminFormContainer .formError {
  font-size: 12px;
  color: red;
  display: block;
  margin-bottom: 5px;
}

.homepage {
  text-align: center;
  padding-top: 40px;
}

.loginBtnCust {
  margin-bottom: 10px;
  color: white;
  background-color: #38a5eb;
  margin: 3px;
  margin-top: 15px;
}

.loginBtnCust:hover {
  box-shadow: 0 0 8px #38a5eb;
  color: white;
}

.loginBtnBaby {
  margin-bottom: 10px;
  color: white;
  background-color: #0f4472;
  margin: 3px;
  margin-top: 15px;
}

.loginBtnBaby:hover {
  box-shadow: 0 0 8px #0f4472;
  color: white;
}

#admin {
  float: right;
  padding: 20px;
  color: #F0F0F0;
  font-size: 12px;
}

#admin:hover {
  color: #D0D0D0;
  text-decoration: underline;
  cursor: pointer;
}

#loginHomeLinkContainer {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #C0C0C0;
}

/* 
#loginHomeLink{
  text-align: center;
  float: center;
  color: #C0C0C0;
margin: 10px auto;
width: 100%;
} */

#loginHomeLink:hover {
  cursor: pointer;
  color: #C0C0C0;
  text-decoration: underline;
}

.babysitterViewcontainer {
  width: 60%;
  margin: auto;
  padding-top: 40px;
}

.myAccountHeader {
  margin-bottom: 20px;
}

.jobCustomerContainer tr:hover {
  cursor: pointer;
  background: lightgray;
}

.datepicker-custom, .datepicker-custom>div.react-datepicker-wrapper, .datepicker-custom>div>div.react-datepicker__input-container .datepicker-custom>div>div.react-datepicker__input-container input {
  width: 100%;
}

.adminsContainer .table tr.pleaseDontHover:hover td {
  cursor: default;
  background: inherit;
}

.assign-button:hover {
  cursor:pointer;
}

.cc-animated {
  animation: Bounce 1s linear infinite;
  position: relative;
}

@keyframes Bounce {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  /* transition: 0.4s; */
}

.accordion:hover {
  background-color: #0f4472;
  color: white;
}

.accordionItem {
  padding-top: 10px;
}

.panel {
  font-size: 15px;
}

.jobOffers {
  max-width: 60%;
  height: auto;
  display: block;
  /* margin: 0 auto; */

}